.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.vscode/
.idea/
android/.gradle/
android/local.properties
android/.idea/
android/.project
android/app/build/
web/favicon.png
web/manifest.json
web/icons/
.DS_Store
Thumbs.db
*.swp
*.bak
*.log
*.tmp